## project file for textmate
*.tmproj

## local file that stores the PID used by tastynoodles.
PID

## keep the file that is used for local testing
#index.html

## the current status of tastynoodles
status

## .swp files for vim
*.swp
